
:root {
    --font-size: 14px;
    --title-color: #212121;
    --background-color: #2f303a;
    --main-font-color: #2196f3;
    --white-color: #ffffff;
    --font-color-address: rgba(255, 255, 255, 0.6);
    --undertitle-font-color: #757575;
  }
  h1,
  h2,
  h3,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: var(--title-color);
  }
  .conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .link {
    text-decoration: none;
    color: var(--title-color);
  }
  .button {
    font-family: inherit;
    cursor: pointer;
    border: 0px;
  }
  .list {
    list-style: none;
  }
  /*header-------------------------------*/
  .header-page {
    border-bottom: 1px solid #f5f4fa;
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-font-color);
  }
  .right-half-head {
    color: var(--title-color);
  }
  .right-half-foot {
    color: var(--white-color);
  }
  .header-href-list-a {
    font-weight: 500;
    font-size: var(--font-size);
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  }
  .list-active-link {
    color: var(--main-font-color);
  }
  
  
  
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-href-ul {
    display: flex;
    margin-left: 90px;
  }
  .header-adress-ul {
    display: flex;
  }
  .header-adress-list{
    display: flex;
  }
  .header-adress-div {
  margin-left: 316px
  }
  .header-adress-list-a{
    display: flex;
    align-items: center;
  }
  .header-svg-item{
    margin-right:10px;
    fill:var(--undertitle-font-color);
  }
  .header-href-list-a {
    display:inline-block;
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .header-href-list:not(:first-child) {
    margin-left: 51px;
  }
  .header-adress-list:not(:first-child) {
    margin-left: 30px;
  }
  
  .header-adress-list-a {
    font-weight: 500;
    font-size: var(--font-size);
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--undertitle-font-color);
    display:flex;
    padding-top: 31px;
    padding-bottom: 31px;
    align-items: center;
  
  }
  
  .header-adress-list-a:hover,
  .header-adress-list-a:focus {
    color: var(--main-font-color);
  }
  .header-href-list-a:hover,
  .header-href-list-a:focus {
    color: var(--main-font-color);
  }
  .header-adress-list-a:hover .header-svg-item{
    fill: var(--main-font-color);
  }
  .header-adress-list-a:focus .header-svg-item{
    fill: var(--main-font-color);
  }
  
  /* end header------------------------------*/
  /*main----------------------------------*/
  
  
  .title {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(./images/background.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
  
  }
  .hiden-title {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    width: 696px;
    margin: 0 auto;
  }
  
  .title-button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    border-radius: 4px;
    background-color: var(--main-font-color);
    width: 216px;
    height: 50.25px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
  }
  
  .second{
    padding-top:96px;
    padding-bottom: 93px;
    margin-left: -30px;
  
  }
  /*.conteinre-second-list {
    padding-top: 88px;
    padding-bottom: 94px;
    margin-left: -30px;
  }*/
  .second-list {
    display: flex;
  }
  .svg-over-title{
    background-color:#F5F4FA;;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-list-item {
    width: (100% - 30px) / 4;
    margin-left: 30px;
  }
  
  .second-list-title {
    font-size: var(--font-size);
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    padding-bottom: 10px;
  }
  .second-list-undertitle {
    font-size: var(--font-size);
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--undertitle-font-color);
  }
  .title-h2 {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
  
  }
  .third-list {
    display: flex;
    margin-top: 50px;
  }
  .ourwork{
    margin-left: -30px;
    padding-bottom: 94px;
  }
  
  .third-list-item {
    margin-left: 30px;
  }
  
  
  
  .ourteam {
    background: #f5f4fa;
    padding-top: 94px;
    margin-left: -30px;
    padding-bottom: 94px;
  }
  .ourteam-title{
    margin-bottom: 50px;
  }
  .ourteam-list {
    display: flex;
  }
  .ourteam-list-item {
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
  }
  .underimg-div {
    padding: 30px;
  }
  
  .ourteam-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 6px;
  }
  .ourteam-list-undertitle {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--undertitle-font-color);
  }
  .social-icons{
    display: flex;
     justify-content: center;
  }
  .social-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-bottom: 30px;
    /*background-color: var(--main-font-color);*/
    display: inline-block;
  }
  .social-item:last-child{
    margin-right:0;
  }
  
  
  .social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:var(--white-color);
    border-radius: 50%;
  }
  .social-icon-link{
    fill:var(--undertitle-font-color);
  }
  .social-link:hover{
    background-color: var(--main-font-color);
  }
  .social-link:hover .social-icon-link{
    fill: var(--white-color);
  }
  /*---customer section--------------------------------------*/
  .customers-title{
    padding-top: 21px;
  }
  .customer-list{
    display: flex;
    margin-top: 50px;
    padding-bottom: 95px;
  }
  .customers-item{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
  }
  
  .customers-item:last-child{
   margin-right: 0px;
  }
  .customers-icon{
    fill:#AFB1B8;
  }
  .customers-item:hover{
    border-color:var(--main-font-color);
  }
  .customers-item:hover .customers-icon{
    fill:var(--main-font-color);
  }
  
  
  /*footer--------------------------*/
  .footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
   
  }
  .footers-conteiner{
    display: flex;
  }
  .footer-logo{
    margin-bottom: 19px;
    display: inline-block;
  }
  
  .address-list-item:not(:first-child) {
    padding-top: 5px;
  }
  
  
  .address-list-item-address {
    font-weight: 400;
    font-size: var(--font-size);
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--font-color-address);
  }
  .address-list-item-email {
    font-weight: 400;
    font-size: var(--font-size);
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--font-color-address);
  }
  .address-list-item-phone {
    font-weight: 400;
    font-size: var(--font-size);
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--font-color-address);
  }
  .address-list-item-address:hover,
  .address-list-item-address:focus {
    color: var(--white-color);
  }
  .address-list-item-email:hover,
  .address-list-item-email:focus {
    color: var(--white-color);
  }
  .address-list-item-phone:hover,
  .address-list-item-phone:focus {
    color: var(--white-color);
  }
  .left-part-footer{
    display: inline-block;
  }
  .join{
    display:flex;
    display:inline-block;
    margin-left: 70px;
    margin-top: 12px;
  }
  
  .join-span{
    display: inline-flex;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: var(--font-size);
  line-height: calc(16 / 14);;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--white-color);
  margin-bottom: 20px;
  }
  .social-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
  .social-item-footer{
    width: 44px;
    height: 44px;
    display: inline-block;
    margin-right: 10px;
  }
  .social-item-footer:last-child{
    margin-right: 0px;
  }
  .social-icon-link-footer{
    fill:var(--white-color);
  }
  .social-link-footer:hover, .social-link-footer:focus {
    background-color: var(--main-font-color);
  }
  /*the end of footer*/
  
  /*second page-----------------*/
  .buttons-list-item-button {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    display: inline-block;
    padding: 6px 22px;
    border: 0px;
    text-align: center;
    border-radius: 4px;
  }
  .buttons-list-item-button:hover,
  .buttons-list-item-button:focus {
    color: var(--white-color);
    background-color: var(--main-font-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .main-section{
    padding-top: 94px;
    padding-bottom: 155px;
  }
  .buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .buttons-list-item:not(:first-child) {
    margin-left: 8px;
  }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
  }
  .projects-list-link{
    display: inline-block;
  }
  .projects-list-link:hover{ 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  
  .projects-list-item-h3 {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
  }
  .projects-list-item-img{
    display: block;
  }
  .underimg {
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f4fa;
    border-left: 1px solid #f5f4fa;
    border-right: 1px solid #f5f4fa;
  }
  
  .projects-list-item-undertitle {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--undertitle-font-color);
  }
  
  
  
  
  
  